append variables
  -
    var corroboration = [
      {
        image:'corroboration.png',
        order: 'order-0 order-md-1',
        imgPosition:'text-md-end',
        imgShadow:'shadow-collab',
        offset:'offset-lg-1',
        preTitle:'corroboration',
        title:'Keeping All Elements Together To Present The Project',
        text:'While the project is shared between several members, the resources need to be at one place to maintain the clarity of the project, and flexibility among developers.'
      },

    ]

  -
    var Cfeatures = [
      { 
        icon:'video.svg',
        iconBg:'bg-white',
        title:'Video conferencing',
        text:`<span class="text-900">Communicating through video on elaborate <br class="d-none d-md-block d-lg-none"> workflow and understanding.</span>`
      },
      {
        icon:'chat.svg',
        iconBg:'bg-white',
        title:'Talk with mates',
        text:'<span class="text-900">Stay communicated with all the colleagues<br class="d-none d-md-block d-lg-none"> and brush up your social skill.</span>'
      },
      {
        icon:'image.svg',
        iconBg:'bg-white',
        title:'High quality image sharing',
        text:'<span class="text-900">Click it and share the top <br class="d-none d-md-block d-lg-none">quality images to all the member of your group.</span>'
      },


    ]  

mixin Corroboration 
  +Section.py-6(style="background:linear-gradient(180deg, #FFFEFC -54.51%, #FFF8F0 99.98%);")
    .row.flex-center
      +PartnershipCorroboration(corroboration[0])
    .row.flex-center
      each item in Cfeatures
        +Feature(item)  
