mixin Cta 
  +Section.py-md-0.bg-warning-gradient
    .row.flex-center
      .col-md-6 
        img.w-100.w-lg-75.d-none.d-md-block(src=`${CWD}assets/img/gallery/cta.png` width='320'  alt='cta')
      .col-md-6
        h1.fw-bold.fs-4.fs-lg-5.fs-xl-6.mb-4.text-primary  Collaborate with the
          br.d-none.d-xl-block
          | team free of cost
        a.btn.hover-top.btn-collab(href='#!') TRY FOR FREE
