mixin CtaTwo 
  section.py-md-0
    +Background({ image: `${CWD}assets/img/gallery/cta-2-bg.png`, attrs: { style: { 'background-position': 'center',} }, className: '' })
    .container
      .row.align-items-center
        .col-md-5.col-lg-3.text-center
          img.mt-n8.d-none.d-md-block.w-100(src=`${CWD}assets/img/gallery/cta-2.png` alt='cta')
        .col-md-7.col-lg-8.offset-lg-1
          h1.fw-bold.fs-4.fs-lg-6.mb-4.text-white  Start using our app today, 
            br.d-none.d-xxl-block
            | enjoy the complete fun
          a(href='https://www.apple.com/app-store/' target="_blank").pe-2
            img(src=`${CWD}assets/img/gallery/app-store.png` width='160' alt='')
          a(href='https://play.google.com/store/apps' target="_blank")
            img(src=`${CWD}assets/img/gallery/google-play.png` width='160' alt='')  
